<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <title>Сервіс Обліку Студентів</title>
    <meta name="description" value="Система Обліку Студентів Навчального Закладу"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
<!--style type = "text/css">.col-xs-12, .col-xs-4, .col-xs-8{border:1px solid red;},</style-->
</head>
<body>
    <div class = "container">
      <div class = "row" id = "header">
        <div class = "col-xs-8">
          <h1>Сервіс Обліку Студентів</h1>
        </div>
        <div class = "col-xs-4" id = "group-selector">
           <strong> Група:</strong>
           <select>
             <option value=" ">Усі студенти</option>
             <option value=" ">МНП-13,Малярчук Андрій(№220)</option>
             <option value=" ">МНП-12,Чепелюк Юрій(№203)</option>
             <option value=" ">МНП-11,Попов Сергій(№301)</option>
           </select>
        </div>
      </div>
      <div class = "row" id = "sub-header">
        <div class = "col-xs-12">
          <ul class = "nav nav-tabs"role="tablist">
            <li role="presentation"><a href="#">Студенти</a></li>
            <li role="presentation" class = "active"><a href = "#">Відвідування</a></li>
            <li role="presentation"><a href = "#">Групи</a></li>
          </ul>
        </div>
      </div>
      <div class = "row" id = "content-columns">
        <div class = "col-xs-12" id = "content-columns">
         <div class ="alert alert-warning">Зміни скасовано.</div>
          <h2>Облік Відвідування</h2>
          <nav>
              <ul class="pagination">
                 <li><a href="#">&larr;</a></li>
                 <li class="#"><a class="btn btn-default" href="#" role="button">Липень 2015</a></li>
                 <li><a href="#">&rarr;</a></li>
              </ul>
          </nav>
          
         <div>
            <table class="table table-bordered table-striped" >
              <thead>
                <tr>
                  <th><a href =" ">№</a></th>
                  <th><a href=" ">Студент&uarr;</a></th>
                  <th><a href="#">Ср 1</a></th>
                  <th><a href="#">Чт 2</a></th>                  
                  <th><a href="#">Пт 3</a></th>
                  <th><a href="#">Сб 4</a></th>                                    
                  <th><a href="#">Нд 5</a></th>
                  <th><a href="#">Пн 6</a></th>
                  <th><a href="#">Вт 7</a></th>
                  <th><a href="#">Ср 8</a></th>
                  <th><a href="#">Чт 9</a></th>
                  <th><a href="#">Пн 10</a></th>
                  <th><a href="#">Сб 11</a></th>
                  <th><a href="#">Нд 12</a></th>
                  <th><a href="#">Пн 13</a></th>
                  <th><a href="#">Вт 14</a></th>
                  <th><a href="#">Ср 15</a></th>
                  <th><a href="#">Чт 16</a></th>
                  <th><a href="#">Пт 17</a></th>                  
                  <th><a href="#">Сб 18</a></th>
                  <th><a href="#">Нд 19</a></th>                                    
                  <th><a href="#">Пн 20</a></th>
                  <th><a href="#">Вт 21</a></th>
                  <th><a href="#">Ср 22</a></th>
                  <th><a href="#">Чт 23</a></th>
                  <th><a href="#">Пт 24</a></th>
                  <th><a href="#">Сб 25</a></th>
                  <th><a href="#">Нд 26</a></th>
                  <th><a href="#">Пн 27</a></th>
                  <th><a href="#">Вт 28</a></th>
                  <th><a href="#">Ср 29</a></th>
                  <th><a href="#">Чт 30</a></th>
                  <th><a href="#">Пт 31</a></th>
                </tr>
              </thead>
              <tbody>
               <tr>
                <td>1</td>
                <td><a title="Редагувати"href="#">Малярчук Андрій</a></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option1"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option2"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option3"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option4"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option5"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option6"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option7"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option8"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option9"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option10"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option11"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option12"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option13"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option14"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option15"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option16"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option17"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option18"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option19"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option20"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option21"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option22"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option23"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option24"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option25"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option26"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option27"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option28"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option29"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option30"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option31"></label></td>
                
               </tr>
               <tr>
                <td>2</td>
                <td><a title="Редагувати"href="#">Чепелюк Юрій</a></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option1"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option2"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option3"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option4"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option5"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option6"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option7"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option8"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option9"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option10"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option11"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option12"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option13"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option14"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option15"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option16"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option17"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option18"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option19"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option20"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option21"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option22"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option23"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option24"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option25"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option26"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option27"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option28"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option29"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option30"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option31"></label></td>
                
               </tr>
               <tr>
                <td>3</td>
                <td><a title="Редагувати"href="#">Попов Сергій</a></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option1"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option2"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option3"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option4"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option5"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option6"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option7"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option8"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option9"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option10"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option11"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option12"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option13"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option14"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option15"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option16"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option17"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option18"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option19"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option20"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option21"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option22"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option23"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option24"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option25"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option26"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option27"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option28"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option29"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option30"></label></td>
                <td><label class="checkbox-inline">
<input type="checkbox"id="inlinecheckbox"value="option31"></label></td>
                
               </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
      <div class = "row" id = "footer">
        <div class = "col-xs-12">
          &copy; 2015 Сервіс Обліку Студентів</div>
        </div>
      </div>
    </div>


    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
