<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <title>Сервіс Обліку Студентів</title>
    <meta name="description" value="Система Обліку Студентів Навчального Закладу"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
<style type = "text/css">.col-sm-12, .col-sm-10, .col-sm-2{border:1px solid red;},</style>
</head>
<body>
    <div class = "container">
      <div class = "row" id = "header">
        <div class = "col-sm-8">
          <h2>Форма Редагування Студента</h2>
        </div>
        
      </div>
     
          
          
          <div>
            <table class="table table-bordered table-striped" >
              
              <form class="form-horizontal">
                <div class="form-group">
                 <label for="Ім'я" class="col-sm-2 control-label">Ім'я*</label>
                  <div class="col-sm-10">
                   <input type="Ім'я" class="form-control" id="Ім'я" placeholder="Ім'я">
                  </div>
                </div>
                <div class="form-group">
                 <label for="По-батькові" class="col-sm-2 control-label">По-батькові</label>
                  <div class="col-sm-10">
                   <input type="По-батькові" class="form-control" id="По-батькові" placeholder="По-батькові">
                  </div>
                </div>
                <div class="form-group">
                 <label for="Прізвище" class="col-sm-2 control-label">Прізвище*</label>
                  <div class="col-sm-10">
                   <input type="Прізвище" class="form-control" id="Прізвище" placeholder="Прізвище">
                  </div>
                </div>
                <div class="form-group">
                 <label for="№Білету" class="col-sm-2 control-label">№Білету*</label>
                  <div class="col-sm-10">
                   <input type="№Білету" class="form-control" id="№Білету" placeholder="№Білету">
                  </div>
                </div>
                <div class="form-group">
                 <label for="Дата народження" class="col-sm-2 control-label">Дата народження</label>
                  <div class="col-sm-10">
                   <input type="Дата народження" class="form-control" id="Дата народження" placeholder="Дата народження">
                  </div>
                </div>
                <div class="form-group">
                 <label for="Фото" class="col-sm-2 control-label">Фото</label>
                  <div class="col-sm-10">
                   <input type="file" class="form-control input-lg" type="text" placeholder=".input-lg">
                  </div>
                </div>               
                <div class="form-group">
                 <label for="Група" class="col-sm-2 control-label">Група</label>
                  <div class="col-sm-10">
                   <input type="Група" class="form-control" id="Група" placeholder="Група">
                  </div>
                </div>
                <div class="form-group">
                 <label for="Додаткові нотатки" class="col-sm-2 control-label">Додаткові нотатки</label>
                  <div class="col-sm-10">
                   <input type="text" class="form-control" id="" placeholder="" <textarea class="form-control" rows="3"></textarea>
                  </div>
                </div>
                
                
               
             </form>
              
            </table>
            
          </div>
        </div>
      </div>
      <div class="form-group">
       <div class="col-sm-offset-2 col-sm-9">
        <button type="Зберегти" class="btn btn-default">Зберегти</button><button type="Скасувати" class="btn btn-default">Скасувати</button>
       </div>
      </div>      
      </div>
    </div>


    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
